<h4>Howdy! I'm Andrew Patterson and I made this site. If you need to get in touch with me, please check out my <a href="https://github.com/andrewpatterson3001">Github</a> or <a href="https://linkedin.com/in/andrewpatterson3001">LinkedIn</a>. Thanks for visiting!</h4>
<md-grid-list cols="4">
    <md-grid-tile
        [colspan]="3"
        [rowspan]="1">
        <img class="lakemargaret" src="assets/img/lakemargaret3to1.png" alt="lake margaret">
    </md-grid-tile>
    <md-grid-tile
        [colspan]="1"
        [rowspan]="2">
      <img class="halfdome" src="assets/img/halfdome2to1.png" alt="half dome">
    </md-grid-tile>
    <md-grid-tile
        [colspan]="1"
        [rowspan]="1">
      <img class="professional" src="assets/img/professional.png" alt="face">
    </md-grid-tile>
    <md-grid-tile
        [colspan]="2"
        [rowspan]="1">
      <img class="hammock" src="assets/img/hammock.png" alt="face">
    </md-grid-tile>
</md-grid-list>
